<a href="https://colab.research.google.com/github/celkansimay/mlops_final/blob/main/Python_Temelleri_ipynb_Revize_Ediliyor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Versiyon Kontrolü

In [1]:
import sys
print('Python Versiyonu:', sys.version) # Kod Satırını Çalıştırmak İçin: Shift + Enter

Python Versiyonu: 3.10.12 (main, Sep 11 2024, 15:47:36) [GCC 11.4.0]

In [2]:
#Python girintilere duyarlı bir dildir
for i in range(0,5):
  print(i)

0
1
2
3
4

# Python Veri Tipleri

## Temel Veri Tipleri




Python'daki  temel veri türleri aşağıdaki gibidir.
* **Integer (int)** veri tipi **tam sayılardır**.
* **Float (float)** veri tipi **ondalıklı (virgüllü) sayılardır**.
* **String (str)** veri tipi **metin verileridir**. İçerisinde sayı barındırabilir, ancak bu sayılar **gerçek sayılar değildir**.
* **Boolean (bool)** veri tipi **True/False (Doğru/Yanlış)** ifadeleridir.

In [3]:
print("Integer(int): ", type(1))
print("Float(float): ", type(1.5))
print("String(str): ", type("1"))
print("Boolean(bool): ", type(True))

Integer(int):  <class 'int'>
Float(float):  <class 'float'>
String(str):  <class 'str'>
Boolean(bool):  <class 'bool'>

## Tuple & Python'da İndex Yapıları



> * **Not:** Tuple'lar parantez içerisinde ifade edilir.
> * **Not:** Tuple'lar Veri tiplerinin bir kombinasyonundan oluşur.
> * **Not:** *italik metin* Tuple'larda tuple içerisindeki eleman değiştirilemez

In [4]:
example_tuple = (1, 2, "a", 19, "x", 37)
print(example_tuple)

(1, 2, 'a', 19, 'x', 37)

In [5]:
type(example_tuple)

tuple

Tuple içerisinde belli elemanlara erişmek için **Python index** yapısını kullanmamız gerekir.
 * **Not:** Pytonda index yapısı 0 'dan başlar.

In [6]:
print(example_tuple)
print(example_tuple[1]) # Unutmayalım, Python'da index yapıları 0'dan başlayarak devam eder!
print(example_tuple[2])

(1, 2, 'a', 19, 'x', 37)
2
a

Belli bir aralıktaki veriye erişmek için:
* ayrılacak_değişkenin_ismi[başlangıç_index : bitiş_index : atlama_sayısı]

> **Önemli Not:** Başlangıç index'i dahil edilirken bitiş index'i dahil edilmez.

In [7]:
#1. ve 4. index aralığıda 2'şer 2'şer atlanarak veri almak istersek:
print(example_tuple[1:4:2])

(2, 19)

Peki başlangıç indexsinden son indexe kadar 2 atlayarak almak istersem?

In [8]:
#Baştan sona 2'şer 2'şer atlanarak veri almak istersek:
print(example_tuple[::2])

(1, 'a', 'x')

Ya sondan 1, 2 index değeri almak istersek

In [9]:
print(example_tuple[-2:])
print(example_tuple[-1])
#print(example_tuple[-4])

('x', 37)
37

Her şey tamam, ancak tuple veri tipinde yer alan değerlerden birini değiştirmek istersem?

In [82]:
example_tuple[4]=8
#TypeError hatası alacağız.

#Peki bu iyi bir şey mi? Hangi açıdan baktığımıza göre değişir. Değiştirilmemesi gereken bir verim varsa, veri güvenliğini sağlamak için tuple'ları kullanabilirim
#Veri setinde değişiklik yapmak istiyorsam tuple benim için yeterli değil maalesef.
#Sonuç olarak tuple'lar çok esnek değillerdir. İhtiyacımıza uygun olan yapıyı seçmemiz lazım.

TypeError: 'tuple' object does not support item assignment

In [12]:

example_tuple[4] = 8

TypeError: 'tuple' object does not support item assignment

Üzerinde değişiklik yapmak istiyorsak Liste'ları kullanabiliriz.

## Listeler (Lists)

Elemanlar üzerinde değişiklik yapabiliriz.
> Listeler, içeriklerini değiştirebilmemize izin verilmesi dışında, tuplelara çok benzer

> **Not:** Listeler köşeli parantezler kullanılarak ifade edilir. (Tuple'larda yuvarlak parantezler ile ifade edilir.)

In [13]:
example_list = [1,[1,2,3,4],2,3,4,5,6,7]
print(example_list)

[1, [1, 2, 3, 4], 2, 3, 4, 5, 6, 7]

In [14]:
type(example_list)

list

In [15]:
print(example_list[:])

[1, [1, 2, 3, 4], 2, 3, 4, 5, 6, 7]

Tuple'larda olduğu gibi başlangıç indexi dahil edilir, bitiş indexi dahil edilmez.

In [16]:
print(example_list[1:4])

[[1, 2, 3, 4], 2, 3]

In [17]:
example_list[6] = 'YENI ELEMAN'
example_list

[1, [1, 2, 3, 4], 2, 3, 4, 5, 'YENI ELEMAN', 7]

In [18]:
type(example_list)

list

Tuple'lardan farklı olarak veri değişimine izin verirler. Bu değişkenlik özellikleri kimi zaman işlerimizi kolaylaştırır, kimi zaman ise veriyi yönetmeyi zorlaştırır. Yani, çalıştığınız veri üzerinde gerçekten değişiklik yapmak istediğinizde liste yapısını kullanın.


> **Not:**  Bir kere değişiklik yaptıktan sonra verinin orjinalini de komple değiştirmiş oluruz.

In [19]:
new_tuple = tuple(example_list)  #liste yapısında olan verinin veri tipini tuple yapıyoruz.
print(new_tuple)
print(type(new_tuple))

(1, [1, 2, 3, 4], 2, 3, 4, 5, 'YENI ELEMAN', 7)
<class 'tuple'>

In [24]:
new_list = list(new_tuple)   #yukarda tuple'a çevirdiğimiz veriyi tekrardan liste tipine çevirebiliriz.
print(new_list)
print(type(new_list))

[1, [1, 2, 3, 4], 2, 3, 4, 5, 'YENI ELEMAN', 7]
<class 'list'>

In [28]:
#Yani verinin tipini değiştirebiliriz.
number_exp=5
print(number_exp)
print(type(number_exp))

5
<class 'str'>

In [29]:
number_exp=str(number_exp)
print(number_exp)
print(type(number_exp))

5
5.0

Listeler üzerinde elemanları değiştirebiliriz, eleman ekleyebiliriz ve eleman çıkartabiliriz.

Listelere ekleme yaparken kullanabileceğimiz temel 2 fonksiyon vardır.
> * **1:** .append() fonksiyonu
> * **2:**  .insert() fonksiyonu

>Bu iki fonksiyon arasında farklılıklar vardır. Append() fonskiyonu listenin sonuna ekleme yaparken, insert() fonksiyonu ile listede istediğimiz index'e ekleme yapmamızı sağlar.

In [34]:
# Öncelikle ana listemizi görelim
print("Orjinal liste = ",new_list)
# Ardından listemize ekleme yapalım
new_list.append("append")
print("Append fonksiyonlu liste = ",new_list)

Orjinal liste =  [1, [1, 2, 3, 4], 2, 3, 4, 5, 'YENI ELEMAN', 7, 'append_ile_ekleme', 'append_ile_ekleme', 'append_ile_ekleme', 'append_ile_ekleme']
Append fonksiyonlu liste =  [1, [1, 2, 3, 4], 2, 3, 4, 5, 'YENI ELEMAN', 7, 'append_ile_ekleme', 'append_ile_ekleme', 'append_ile_ekleme', 'append_ile_ekleme', 'append']

In [35]:
# Listede istenilen indexe ekleme yapalım
new_list.insert(1, "insert")
print("insert fonksiyonlu liste = ",new_list)

insert fonksiyonlu liste =  [1, 'insert', [1, 2, 3, 4], 2, 3, 4, 5, 'YENI ELEMAN', 7, 'append_ile_ekleme', 'append_ile_ekleme', 'append_ile_ekleme', 'append_ile_ekleme', 'append']

In [36]:
new_list

[1,
 'insert',
 [1, 2, 3, 4],
 2,
 3,
 4,
 5,
 'YENI ELEMAN',
 7,
 'append_ile_ekleme',
 'append_ile_ekleme',
 'append_ile_ekleme',
 'append_ile_ekleme',
 'append']

Listelerden eleman çıkarmak (silmek) için kullanabileceğimiz temel 2 fonksiyon vardır.
> * **1:** .remove() fonksiyonu
> * **2:**  .pop() fonksiyonu

>Bu iki fonksiyon arasında farklılıklar vardır. remove() fonskiyonu ile listeki belli bir elemanı silebilirken, pop() fonksiyonu ile listede istediğimiz index deki  elemanı silmemizi sağlar.

In [37]:
# Listemizden 1 elemanını çıkaralım
new_list.remove(2)
print(new_list)

[1, 'insert', [1, 2, 3, 4], 3, 4, 5, 'YENI ELEMAN', 7, 'append_ile_ekleme', 'append_ile_ekleme', 'append_ile_ekleme', 'append_ile_ekleme', 'append']

In [39]:
# Listeden istenilen indexteki elemanı çıkaralım
new_list.pop(2)
print(new_list)

[1, 'insert', 4, 5, 'YENI ELEMAN', 7, 'append_ile_ekleme', 'append_ile_ekleme', 'append_ile_ekleme', 'append_ile_ekleme', 'append']

## Setler (Sets)

Setler Python'da kullanılan başka bir veri tipidir.

> **Önemli Not:** Setlerin küme parantezleri (süslü parantezler) ile gösterildiğine dikkat edin!

> **Önemli Not:** Setler Listelerden ve Tuple'lardan farklı olarak tekrarlı ifadelere izin vermez.

In [42]:
list_exp = [1,1,1,5,5,6,6,6,1,5,2,6,8,0]
set_from_list = set(list_exp)
print(set_from_list)

{0, 1, 2, 5, 6, 8}

Setler içerisinde birleştirme yapmak  için kullanabileceğimiz temel 2 fonksiyon vardır.
> * **1:** .union() fonksiyonu
> * **2:**  .intersect() fonksiyonu

>Bu iki fonksiyon arasında farklılıklar vardır. union() fonksiyonu ile 2 set içerisindeki elemanlar birleştirilir, intersect() fonksiyonu ile 2 set içerisindeki ortak elemanları (kesişim kümesini) gösterir.

> * **Önemli Not:**  Setler tekrarlı ifadelere izin vermez. Bu 2 fonksiyonda kullanılırken tekrarlı ifadeler kullanmadan çalışır.

In [50]:
set_exp1 = {0,1,2,3,4,4,4}
set_exp2 = {2,3,4,5,6,7,8,9}

print("Union: ", set_exp1.union(set_exp2))
print("Union: ", set_exp1 | set_exp2)   #2. bir yol:   "|" semboli ile de union işlemi yapabiliriz.
print("Intersect: ", set_exp1.intersection(set_exp2))

Union:  {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
Union:  {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
Intersect:  {2, 3, 4}

In [46]:
#Listeler üzerinde doğrudan bir union işlemi bulunmaz.
list1 = [0,1,2,3,4]
list2 = [2,3,4,5,6,7]

print("Union: ", list_A.union(list_B))

AttributeError: 'list' object has no attribute 'union'

In [47]:
#Listeler üzerinde union işlemi yapmak istiyorsak, veriyi set'lere dönüştürüp yapabiliriz.
union_result = list(set(list1) | set(list2))  #tekrar eden elemanları koruyamayız.
print(union_result)

[0, 1, 2, 3, 4, 5, 6, 7]

In [51]:
#Tekrar eden elemanları korumak istiyorsak :

list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]

union_result = list1 + list2
print(union_result)

[1, 2, 3, 4, 3, 4, 5, 6]

In [53]:
# Set veri tipinde tuplelarda ve listelerde yapabildiğimiz gibi içerisinden istediğimiz bir parçayı alamayız.
set_exp3 = {0,0,1,2,3,4,4,4}
set_exp3[3]   #Bize hata döndürür.

TypeError: 'set' object is not subscriptable

In [54]:
# Ayrıca listelerde yapabildiğimiz gibi veri değişikliğine de izin vermezler.
set_exp3[3] = 7  #Bize hata döndürür

TypeError: 'set' object does not support item assignment

## Sözlükler (Dictionaries)

Bir diğer önemli veri tipi sözlüklerdir. Sözlükler diğer veri tiplerinden farklı olarak  "gruplara" sahip olmamızı sağlar, ancak indexe göre çalışmak yerine **Key/Value (Anahtar/Değer)** çiftlerini kullanılırlar.

> **Önemli Not:** Sözlükler de küme parantezleriyle gösterilir, ancak bir set olarak algılanmamaları için **Key ve Value** değerlerinden oluşması gerekir.

In [67]:
new_dict = {'Key': 8}    # dictionary yapısı = {Key:Value}
print(new_dict['Key'])

8

Sözlükler, her bir key değerinin içerisinde **birden fazla farklı veri tipi** bulundurabilir.

In [71]:
new_dict = {'key1': [0,1,2,3,4],
            'key2': {'sub_key_1': 5,
                     'sub_key_2': 'word' }
            }   #key1 liste yapısındayken, key2 sözlük yapısındadır. Dict yapısında birden fazla veri tipi bir arada bulunabilir.

print(new_dict['key1'])
print(new_dict['key2'])

[0, 1, 2, 3, 4]
{'sub_key_1': 5, 'sub_key_2': 'word'}

In [72]:
print(new_dict['key2']['sub_key_2'])

word

In [ ]:
career_stats = {'babe_ruth': { 1914: ["Red Sox", 5, 10, 0],
                               1915:['Red Sox', 43, 104, 4]},
                'gavvy_cravath': {1914: ['Phillies',149,604,14]}}
print(career_stats['babe_ruth'])
print(career_stats['babe_ruth'][1914])

{1914: ['Red Sox', 5, 10, 0], 1915: ['Red Sox', 43, 104, 4]}
['Red Sox', 5, 10, 0]

In [81]:
nested_dict = {
    'student': {
        'name': 'Alice',
        'age': 22,
        'address': {
            'city': 'Istanbul',
            'street': 'Beyoğlu'
        }
    },
    'courses': {
        'course_1': ['Math',1],
        'course_2': 'History',
        'course_3': 'Computer Science'
    }
}
print(nested_dict['student'])
print(nested_dict['student']['address'])
print(type(nested_dict['student']['address']))   #veri tipi dict


print(nested_dict['courses']['course_1'])
print(nested_dict['courses']['course_2'])
print(type(nested_dict['courses']['course_2']))    #veri tipi string

{'name': 'Alice', 'age': 22, 'address': {'city': 'Istanbul', 'street': 'Beyoğlu'}}
{'city': 'Istanbul', 'street': 'Beyoğlu'}
<class 'dict'>
['Math', 1]
History
<class 'str'>

Anahtar olarak bir integer değer kullanabileceğimiz gibi değişmez olan herhangi bir nesne anahtar olarak kullanılabilir. Bu, listeleri anahtar olarak **kullanamayacağımız**, ancak tupleları **kullanabileceğimiz** anlamına gelir.

In [ ]:
# Key değerini tuple veri tipi olarak tanımlama
career_stats[('a','new','player')] = ['Reds',12, 34, 8]

for key, val in career_stats.items(): # Items her key ve value değerine erişmemizi sağlar
    print(key, val)

babe_ruth {1914: ['Red Sox', 5, 10, 0], 1915: ['Red Sox', 43, 104, 4]}
gavvy_cravath {1914: ['Phillies', 149, 604, 14]}
('a', 'new', 'player') ['Reds', 12, 34, 8]

In [ ]:
# Ek olarak sadece key ve value değerine de ulaşılabilir.
print(career_stats.keys())
print(career_stats.values())

dict_keys(['babe_ruth', 'gavvy_cravath', ('a', 'new', 'player')])
dict_values([{1914: ['Red Sox', 5, 10, 0], 1915: ['Red Sox', 43, 104, 4]}, {1914: ['Phillies', 149, 604, 14]}, ['Reds', 12, 34, 8]])

In [ ]:
# Key değerini liste veri tipinde tanımlama
career_stats[['a','new','player']] = ['Reds',12, 34, 8]

TypeError: unhashable type: 'list'

Sözlükleri sevmemizin nedeni, veri almada gerçekten hızlı olmaları ve içermek istediğimiz her değere bir anahtar atamamıza izin vermeleridir. Anahtarların **değişmez** olması gerektiği için, liste yapılarını kabul etmezler.

## NumPy Array

Şu ana kadar gördüğümüz veri tiplerine ek olarak veri bilimi alanında çok sıklıkla kullanılan `numpy` kütüphanesinin `array` veri tipinden de bahsetmek gerekir. Array'lerin görünümü listelere çok benzer ancak **sadece bir veri tipi** kabul ederler. Yani ya integerlardan ya da float değerlerden oluşurlar ve aynı zamanda Pandas, Sklearn gibi veri bilimindeki çok temel kütüphanelerin belkemikleridir. Ancak arrayleri daha detaylı bir şekilde bu notebooktan sonra ele alacağız.

# Python Kodlama Stili

Python'un **Python'u nasıl yazmamız gerektiğini** belirleyen [PEP8](https://www.python.org/dev/peps/pep-0008/) adı verilen bir dizi kuralı bulunur. Bir sonraki bölümde, programlamada yeniyken sezgisel olabilecek PEP 8'in bazı önemli kısımlarından geçeceğiz. Ayrıca Python'a özgü bazı özel kod türlerini de vurgulayacağız. Bunun tüm PEP8'in tam bir gösterimi olmadığını unutmayın, sadece bazı belirli yönlerine odaklanıyoruz.

Başlangıç olarak, bize fikir vermesi açısından `import this` kod bloğunu çalıştıralım. Burdan elde ettiğimiz çıktı bize Python kodlarımızı nasıl yazmamız gerektiğiyle ilgi temel kurallardan bahseder.

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

Python'da kodlama yapmakla ilgili şu noktaları tekrar hatırlatmakta fayda var:

> Kodlar insanlar içindir. Genellikle bir proje harcadığımız zamanın 95%'lik kısmını hata ayıklamaya harcarız. Bu sebeple, yazdığımız kodun okunaklı ve anlaşılabilir olması oldukça önemlidir. Çalıştırmak her zaman 2. aşamada gelir. Eğer kodlarınızı düzenli bir şekilde yazarsanız emin olun ileride kendinize teşekkür edeceksiniz. Emin olun **herkesin anladığı beş satırlık bir çözüm**, yalnızca bir satır uzunluğunda olan ancak **hiç kimsenin hızlı bir şekilde hata ayıklayamadığı süper akıllı bir çözümden** daha iyidir.

> **Kod Geliştirme Sürecinde Takip Edilmesi Gereken Sıralama**
> * Çalışmasını sağlayın
> * Doğru olmasını sağlayın
> * Okunabilir olmasını sağlayın
> * Hızlı çalışmasını sağlayın (bu kısım nadiren olur)

## Değişken İsimleri

Değişken isimleriyle ilgili bir kaç kuraldan da bahsetmesek olmaz. Genel olarak, şu kurala bağlı kalmak mantıklıdır,
> Sarhoş halim bu değişkenin isminden ne için kullanıldığını anlayabilir mi? Anlayamıyorsanız, değiştirin!

Bu kuralı biraz daha detaylandıracak olursak,
    
* Değişken isimleriniz anlamlı ifadelerden oluşmalı. Örneğin, `x` anlamlı bir ifade değildir.
* Uzun değişken isimleri anlamsız değişken isimlerine göre bile tercih edilir. Kısa, ancak anlamlı isimler her zaman daha iyidir.
* Boşlukları temsil etmek için `_` kullanın. (Bu genel bir Python kuralıdır)
* Büyük harfli içeren yazımlardan kaçının.
* Python uluslararası alanda oldukça popüler olan bir programlama dilidir, ilerleyen aşamalarda araştırma yaparken bile İngilizce bilgisi bizi her zaman öne taşıyacak. Bu sebeple, mümkünse kodlarımızı İngilizce olarak yazmak her zaman daha iyidir.

Bazı örnek değişken isimleri:

`customer_order_value`, `ordered_document_list`, `mlb_batting_statistics_1887_1990`

İçeriğini görmeden bile, bu değişkenlerin içinde ne tarz bilgiler barındırdığını tahmin edebiliyorum. İşte bu bizim istediğimiz stil!

## Koşullu İfadeler (If / Elif / Else)

Gerçek hayatta, genellikle etrafımızdaki bilgileri değerlendirmeli ve ardından gözlemlediklerimize göre bir hareket tarzı seçmeliyiz.

- Hava güzelse dışarı çıkacağım. (Hava güzel değilse dışarı çıkmayacağım anlamına gelir.)

Python'da `if` yapısı bu tür karar verme seçeneklerini yönetmek için kullanılırız. Belirtilen durumun gerçekleşmesi durumunda bu yöntemi izle, gerçekleşmediği durumlarda ise şu yöntemi izle mantığı vardır.

In [ ]:
if 5 > 4:
    print("3 is bigger")
print("3 is not bigger")

3 is bigger
3 is not bigger

In [ ]:
number = 10
if number < 5:
    print(number, 'is smaller than 5')
if number < 12:
    print(number, 'is smaller than 12')
if number < 25:
    print(number, 'is smaller than 25')

10 is smaller than 12
10 is smaller than 25

In [ ]:
number = 10
if number < 5:
    print(number, 'is smaller than 5')
elif number < 12:
    print(number, 'is smaller than 12')
elif number < 25:
    print(number, 'is smaller than 25')

10 is smaller than 12

In [ ]:
# 2'den fazla koşul belirtmek de mümkündür
a = 30
b = 20
c = 10
if a > b and b > c:
    print("a is bigger than b AND b is bigger than c")
elif a < b and b < c:
    print("a is smaller than b AND b is smaller than c")
else:
    print("These conditions did not hold")

a is bigger than b AND b is bigger than c

In [ ]:
number_list = [10,20,30,40,50]
if 10 in number_list:
    print("Yes!")

Yes!

> Peki ya liste içerisinde tüm elemanları belirli bir işleme tabi tutmak istersem?

## Döngüler (For / While)

Döngü, aynı kod bloğunun potansiyel olarak birçok kez tekrar tekrar yürütülmesi anlamına gelir. Python'da döngü kurabileceğimiz 2 temel yapı vardır:

- **For** & **While** Döngüleri.

Ancak veri biliminde yapılan çalışmalarda genellikle **for döngüleri** çok daha yaygın bir şekilde kullanılırlar.

In [ ]:
for number in number_list:
    new_number = number * 5 / 3
    print(new_number)

16.666666666666668
33.333333333333336
50.0
66.66666666666667
83.33333333333333

In [ ]:
x = 0
while x < 10:
    print(x)
    x = x + 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
x = 0
while x < 10:
    print(x)
    x += 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
x = 0
while x < 10:
    print(x)
    x += 1
    x = x + 1

0
2
4
6
8

## Fonksiyonlar - Yazılanları Sürekli Tekrar Etmeme Sanatı

Eğer bir gün kendini önceden yazdıklarını kopyala-yapıştır yaparken yakalarsan, hayır bunu yapma...

Önceden yazdığımız kodlar hiç bir zaman kopyala-yapıştır yapılmamalı. Peki ben önceden yaptığım bir işlemi, şu anda çalıştığım satıra nasıl taşıyacağım?
> İşte bunun çözümü fonksiyonlar oluşturmak.

Diyelim ki satış kaydından bir kullanıcınin verilerini almak ve o tabloda bir kullanıcıyı kaç kez gördüğümü takip etmek istediğim bir grup veriyi işliyorum.

In [ ]:
table1 = [['Sam', 36, 85.95],
 ['Carol', 75, 53.65],
 ['Sam', 90, 95.37],
 ['Doug', 61, 19.8],
 ['Sam', 41, 45.22],
 ['Doug', 29, 42.98],
 ['Oliver', 61, 95.74],
 ['Carol', 32, 17.12],
 ['Tari', 27, 68.83],
 ['Tari', 81, 62.47]]

name_counter = {}
for row in table1:
    name = row[0]
    if name in name_counter.keys():
        name_counter[name] += 1
    else:
        name_counter[name] = 1
print(name_counter)

{'Sam': 3, 'Carol': 2, 'Doug': 2, 'Oliver': 1, 'Tari': 2}

Peki elime yeni bir tablo daha geldi ve tekrardan aynı işlemi yapmam gerekiyor.

Elimde 2 seçeneğim var,
- Ya üstte yazdığım ifadeyi kopyala-yapıştır yapıcam?
- Ya da üstte yazdığım ifadeyi bir fonksiyona dönüştürücem?

Hadi bu sefer fonksiyona dönüştürmeyi deneyelim,

In [ ]:
def count_names_in_tables(table_to_count):
    """
    İlk sütunu kullanıcının adından oluşacak şekilde, bir tablo verisi alır
    ve her bir kullanıcının tabloda kaç defa geçtiğini bulur.
    ---
    Girdi: Tablo (bir çok listeden oluşan bir liste)
    Çıktı: Sözlük (İsimler key değerleri, kaç defa geçtikleri value değerleri)
    """
    name_counter = {}
    for row in table_to_count:
        name = row[0]
        if name in name_counter.keys():
            name_counter[name] += 1
        else:
            name_counter[name] = 1
    return name_counter

In [ ]:
print(count_names_in_tables(table1))

{'Sam': 3, 'Carol': 2, 'Doug': 2, 'Oliver': 1, 'Tari': 2}

In [ ]:
table2 = [['Oliver', 12, 49.95],
 ['Tari', 76, 30.71],
 ['Carol', 98, 25.07],
 ['Carol', 24, 11.85],
 ['Carol', 34, 13.36],
 ['Kelly', 14, 34.31],
 ['Tari', 6, 86.11],
 ['Tari', 90, 29.08],
 ['Carol', 55, 45.61],
 ['Sam', 88, 97.47]]

print(count_names_in_tables(table2))

{'Oliver': 1, 'Tari': 3, 'Carol': 4, 'Kelly': 1, 'Sam': 1}

Yazdığımız fonksiyonla ilgili bazı noktalara değinelim,

* Değişkenlerin belli kalıplara sokulmaması gerekir. Biz her zaman fonksiyonlarımızın esnek olmasını isteriz.
* Yazdığımız fonksiyonun sadece bir kere değil istediğimiz kadar kullanabilmeliyiz.
* Günün sonunda, her işlev bir hedefi gerçekleştirmelidir. Bu, her işlevin aynı anda yalnızca bir hedefe ulaştığından emin olmak için bir işlev içinde bir işlev çağırmamız gerektiği anlamına gelebilir.

Yani, yazdığımız fonksiyonun şu şekilde bir yapıda olması lazım.

```python
def clean_person_name(name):
    """
    Kullanıcı adınındaki karışıklıkları önler
    ve temiz halini oluşturur.
    """
    name = name.lower()
    name = name.replace("'","") # İsmin sade bir şekilde görünmesi için kesme işaretini boş değerle değiştirir.
    return name

def process_row(row):
    """
    Satır bazında bir veri alır ana işlem döngüsüne
    göndermeden önce tüm sütunlarda temizleme işlemi yapar.
    """
    name = clean_person_name(row[0])
    product_name = lookup_product_name_from_id(row[1])
    converted_price = convert_pounds_to_dollars(row[2])
    return (name, product_name, converted_price)
```

Bu örnekte, `process_row` yalnızca her satırı işleme görevini gerçekleştirir. Ancak, kişilerin adını temizlemek için biraz yardıma ihtiyacı vardı, bu yüzden bunu yalnızca tek bir işi olan `clean_person_name` fonksiyonuna diğer işlev, kişinin adını temizlemeyi, devrettik.

İşte bu işlevler, tekrarlanan eylemleri minimum kodla verimli bir şekilde gerçekleştirmemizi sağlar. Ayrıca bize birkaç fayda daha sağlarlar:
* Eğer sürecimizi yükseltmemiz gerekiyorsa, sadece bir yerde işlevi değiştirmemiz gerekir ve yaptığımız bu değişiklik kodun geri kalanını doğrudan etkileyecek.
* Hata aldığımızda, Python hangi işlevin nerede ve nerede bozulduğunu tespit eder, böylece hataları hızlı bir şekilde bulabiliriz.

# Notebooklar Arasında Çalışmak

Şimdi de diğer notebookda oluşturduğumuz fonksiyonumuzu buraya çağıralım.

In [ ]:
from ipynb.fs.full.Python_UDF import factorial # Jupyter Notebook dosyasından import

In [ ]:
factorial(3)

6

In [ ]:
from Python_UDF import factorial # Python dosyasından import

In [ ]:
factorial(3)

6

## Dokümantasyon

Kod yazarken bize ve kodu inceleyecek diğer kişilere yardımcı olması açısından ek açıklamalar eklememiz gerektiğini konuştuk. Ancak, bu ek açıklamaları yazmanın iyi ve kötü yöntemleri var. Hadi bunu örneklendirelim.

#### Kötü Örnek:

```python
# s_list değişkeni üzerinden bir döngü
for x in s_list:
    x.update() # Döngüye giren tüm elemanları güncelle
```

Bu döngüde ne yapılmaya çalışıldığı benim 6 ay düşünsem de anlayabileceğim bir şey değil. `x` ne? `s_list` ne? Anlayabildiğim tek nokta, bir şeyler güncellemişim, ancak nasıl, neden? Ama şöyle yazarsam her şey çok daha anlaşılır olacak...

#### İyi Örnek:

```python
# Şarkı listesinde yer alan tüm şarkıların adlarını güncellemek için bir döngü
for song in song_list:
    song.update_title() # Güncelleme işlemi
```

## Belge Dizini Yapıları

Belge dizileri, o şeyin işlevini tanımlamaya yardımcı olan ve özellikle fonksiyon yapılarından sonra gelen üç tırnaklı dizelerdir.

In [ ]:
def multiply_by_two(number):
    """
    Bu fonksiyon girdi olarak girilen değeri 2'yle çarpar
    ---
    Girdi: Sayısal
    Çıktı: Sayısal
    """
    return 2*number

In [ ]:
multiply_by_two(4)

8

In [ ]:
multiply_by_two("4")

'44'

## Döngü Yazımları

`for` döngüleri çok başarılıdır ve bir çok amacımızı başarmamızda bize yardımcı olurlar.

Şimdi de onları nasıl yazmamız gerektiğini inceleyelim...

In [ ]:
print(table1)

[['Sam', 36, 85.95], ['Carol', 75, 53.65], ['Sam', 90, 95.37], ['Doug', 61, 19.8], ['Sam', 41, 45.22], ['Doug', 29, 42.98], ['Oliver', 61, 95.74], ['Carol', 32, 17.12], ['Tari', 27, 68.83], ['Tari', 81, 62.47]]

Bu benim istediğim çıktı türü değil! Kaç satırım olduğunu anlaması bile oldukça zor, `for` döngülerinden yararlanarak bu çıktıya biraz çeki düzen verelim.

#### İyi Kod Yazımı:

In [ ]:
for row in table1:
    print(row)

['Sam', 36, 85.95]
['Carol', 75, 53.65]
['Sam', 90, 95.37]
['Doug', 61, 19.8]
['Sam', 41, 45.22]
['Doug', 29, 42.98]
['Oliver', 61, 95.74]
['Carol', 32, 17.12]
['Tari', 27, 68.83]
['Tari', 81, 62.47]

#### Kötü Kod Yazımı:

In [ ]:
for i in range(len(table1)):
    print(table1[i])

['Sam', 36, 85.95]
['Carol', 75, 53.65]
['Sam', 90, 95.37]
['Doug', 61, 19.8]
['Sam', 41, 45.22]
['Doug', 29, 42.98]
['Oliver', 61, 95.74]
['Carol', 32, 17.12]
['Tari', 27, 68.83]
['Tari', 81, 62.47]

In [ ]:
range(10)

range(0, 10)

In [ ]:
len(table1)

10

Bazı durumlarda elemanlarımızın index numaralarına erişme ve onlarla çalışma ihtiyacı duyarız. Bu amaç doğrultusunda eğer satırın index numaralarına ihtiyacım varsa bu konuda `enumerate` fonksiyonundan yararlanabiliriz.

In [ ]:
for ix, row in enumerate(table1):
    print(ix, row, table1[ix])

0 ['Sam', 36, 85.95] ['Sam', 36, 85.95]
1 ['Carol', 75, 53.65] ['Carol', 75, 53.65]
2 ['Sam', 90, 95.37] ['Sam', 90, 95.37]
3 ['Doug', 61, 19.8] ['Doug', 61, 19.8]
4 ['Sam', 41, 45.22] ['Sam', 41, 45.22]
5 ['Doug', 29, 42.98] ['Doug', 29, 42.98]
6 ['Oliver', 61, 95.74] ['Oliver', 61, 95.74]
7 ['Carol', 32, 17.12] ['Carol', 32, 17.12]
8 ['Tari', 27, 68.83] ['Tari', 27, 68.83]
9 ['Tari', 81, 62.47] ['Tari', 81, 62.47]

## List Comprehensions

List Comprehensions, mevcut listelere dayalı listeler tanımlamanın ve oluşturmanın oldukça etkili bir yoludur. Liste oluşturmak için normal fonksiyonlardan ve döngülerden genellikle daha **kompakt** ve daha **hızlıdır**. Ancak, kodun kullanıcı dostu olmasını sağlamak için çok uzun List Compherensions'ları tek bir satıra yazmaktan kaçınmalıyız.

In [ ]:
a_list_of_numbers = [1,2,3,4,5,7]

new_list_of_numbers = [x + 1 for x in a_list_of_numbers if x > 2]
print(new_list_of_numbers)

[4, 5, 6, 8]

In [ ]:
new_list = []
for number in a_list_of_numbers:
    if number > 2:
        new_list.append(number + 1)

In [ ]:
new_list

[4, 5, 6, 8]

## In Yapısı

Bir üstteki örnekte, yazdığımız `for` döngüsünde bir değerin olup olmadığını tespit etmek için `in` yapısını kullandık. Şimdi bu `in` yapısını biraz daha inceleyelim ve bir de `string` veri tiplerindeki kullanımına bakalım.

In [ ]:
test_string = "test string of words, yep"

if 'z' in test_string:
    print("Found a 'z'")
elif 'e' in test_string:
    print("Found an 'e'")

Found an 'e'

In [ ]:
len(test_string)

25

Peki ya bir liste veri tipinde?

In [ ]:
test_list = [1,2,3,4,5]

if 1 in test_list:
    print("Found a '1'")
if 5 in test_list:
    print("Found an '5'")

Found a '1'
Found an '5'

In [ ]:
test_list = [1,2,3,4,5]

if 1 in test_list:
    print("Found a '1'")
elif 5 in test_list:
    print("Found an '5'")

Found a '1'

## Lambda Fonksiyonu ve Sıralama İşlemleri

Python'da sıralama işlemleri yapabilmek için elimizde 2 farklı yolumuz vardır. Şimdi bunları aşağıdaki örneklerle görelim ve aralarındaki farkı anlamaya çalışalım.

In [ ]:
# Sütunlar = (İsim, Yaş, Maaş)
alumni = [('bob',32,72000),
          ('alice',29,115000),
          ('charlie',25,95000)]

print(sorted(alumni)) # Sıralama işlemleri için kullanılan fonksiyon
print(alumni)

[('alice', 29, 115000), ('bob', 32, 72000), ('charlie', 25, 95000)]
[('bob', 32, 72000), ('alice', 29, 115000), ('charlie', 25, 95000)]

Sorun ne? Aslında `sorted` fonksiyonunu çalıştırdığımızda istediğimiz sonucu vermişti? Ama orijinal verimizi değiştirmemiş...

Bir de bu yazım şekliyle deneyelim.

In [ ]:
alumni.sort() # sort fonksiyonu sıralamayı orijinal veri üzerinde gerçekleştirdi
print(alumni)

[('alice', 29, 115000), ('bob', 32, 72000), ('charlie', 25, 95000)]

Şimdi oldu! Çünkü `sorted(alumni)` fonksiyonunu çalıştırdığımda verinin orijinal halini değiştirmek yerine, aslında bana değerlerimizin sıralı halini yeni bir liste olarak tanımlamış oldu.

Genellikle `sorted` fonksiyonunu kullanmak `.sort` fonksiyonuna nazaran daha güvenli bir işlemdir, çünkü yanlışlıkla `.sort` fonksiyonunu kullanırsanız, orijinal verinizi komple değiştirmiş olursunuz.

Ama sıralama işlemlerimizi şu ana kadar hep ilk sütundaki (isim) **alfabetik sıraya göre** yaptık. Şimdi de değerleri biraz tersten sıralamayı biraz da maaş sütununa göre sıralamayı inceleyelim.

In [ ]:
print(sorted(alumni, reverse=True))

[('charlie', 25, 95000), ('bob', 32, 72000), ('alice', 29, 115000)]

İlk sütun dışında bir değere göre sıralama yapmak için Python'a nasıl sıralanacağını söylememiz gerekir. Bu iş, bir `lambda` fonksiyonu için harika bir kullanımdır. Lambda fonksiyonları, **kaydetmek istemediğimiz** fonksiyon tanımlamalarıdır. İşlevlerini sadece bir satırda tamamlamalarını ve sonra hafıza alanını çalmamalarını isteriz.

In [ ]:
print(sorted(alumni, key=lambda row: row[2]))

[('bob', 32, 72000), ('charlie', 25, 95000), ('alice', 29, 115000)]

In [ ]:
alumni.sort(key=lambda row: row[2], reverse=True)
alumni

[('alice', 29, 115000), ('charlie', 25, 95000), ('bob', 32, 72000)]

`sorted` fonksiyonu için `key` parametresi, her bir verinin hangi parçasına göre sıralamak istediğimizi tanımlayan bir fonksiyon alır. Burada ikinci indexteki (maaş) bilgilerine göre sıralama yapmasını söyledik. İşlevin kendisi çok ilginç değil, bu çizginin ötesinde yaşamasını istemiyoruz.

Bu ifadeyi sonrasında tekrardan kullanabilmek için bir fonksiyon yapısına dönüştürecek olursak ise...

In [ ]:
def get_second_column_of_row(row):
    """
    Satırda bulunan 2. indexe ait değerleri döndürür.
    """
    return row[2]

print(sorted(alumni, key=get_second_column_of_row))

[('bob', 32, 72000), ('charlie', 25, 95000), ('alice', 29, 115000)]

Ama gerçekçi olmak gerekirse, bu fonksiyonu isim alanıma kaydetmek istemiyorum, bir daha da asla istemeyeceğim. Bunun yerine, tüm kodumu tek kullanımlık fonksiyonlarla kirletmeden davranışı tanımlamak için `lambda` fonksiyonu kullanıyoruz. Lambda fonksiyonu, özellikle `map` veya `filter` fonksiyonlarını kullanmak gibi işler yaparken, python dilinin ortak bir parçasıdır. Ama bunlar şimdilik başka bir zamanın tartışma konusu.

## Hata Mesajları

Python'da yazdığımız kod bloğu içerisinde beklenmedik durumlarla karşılaşıldığında, hata mesajları vermeye başlar ve o hatanın sebebini çözene kadar yapmak istediğimiz işlemi bizim için askıya alır.

Ancak bazı durumlarda yazdığımız **kodların doğru şekilde kullanılmasını sağlamak** için kendimiz hata mesajları tanımlama ihtiyacı hissederiz.

İstenmeyen durumlarla başa çıkmak için `assert` fonksiyonunu da kullanabiliriz.

In [ ]:
class_list = [1,2,3]
if len(class_list) % 2 !=0:
    raise ValueError("List should have an even number of elements!") # Tanımladığımız hata mesajı

ValueError: List should have an even number of elements!

In [ ]:
def sum_up_a_list(list_to_sum):
    """
    Girdi olarak bir sayı listesi alır ve liste
    içerisindeki sayıların toplamını hesaplar.
    """
    # Girdi olarak verilen değerler list yapısında olsun istiyorum
    assert type(list_to_sum) == list, "Input must be a list!"
    return sum(list_to_sum)

print(sum_up_a_list(3))

AssertionError: Input must be a list!

In [ ]:
print(sum_up_a_list([1,2,3]))

6

## Try - Except

`try-except` fonksiyonu, hatalara anında tepki verebilen kod oluşturmanın harika bir yoludur. Yapmamız gereken, `try` ifadesinin içine çalışmasını istediğimiz kod bloğu koymak, ardından `except` ifadesine de `try` kısmında yazdığımız kodda bir hata meydana geldiğinde de "nasıl bir davranış izlemesini istediğimizi belirtiriz".

In [ ]:
x = "1" # 1 sayısının string versiyonu, bununla matematiksel işlemler gerçekleştirilemez

try:
    print("Trying to divide")
    print(x/2)
    print("This won't happen because of the error")

except:
    print("\nOops, forgot to make it a number")
    print(int(x)/2)

Trying to divide

Oops, forgot to make it a number
0.5

In [ ]:
del x # del fonksiyonu tanımladığımız değişkeni tamamen silmemizi sağlar

try:
    str(x)
except:
    print("¯\_(ツ)_/¯")

¯\_(ツ)_/¯

## Referans Değerler vs Gerçek Değerler

In [ ]:
a = [1,2,3]
b = a
b.append(4)

# Aslında sadece b listesine bir ekleme yapmamıza rağmen, neden a listesine de aynı eklemeyi yaptı?
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

`b = a` yazımı bizim için `b` adını verdiğimiz yeni bir değişken tanımlamaz. Sadece `b` değişkenimizi `a` değişkenine bağlı yeni bir değişken olarak oluşturur.

Eğer yeni bir değişken oluşturmak istersek, `a` değişkenindeki değerleri kullanarak yeni bir veri yapısı tanımlamamız gerekir (Python'a `a` değişkenindeki değerleri kullanarak bir liste veri tipine yazarak oluşturulan bu listeyi `b` değişkenine eşitle gibi).

In [ ]:
a = [1,2,3]
b = a.copy()
b.append(4)

print(a)
print(b)

[1, 2, 3]
[1, 2, 3, 4]

# Özet

Python'da kodlama yaparken yalnızca en yaygın yazım standartlarının bazılarına değindik. Eğer incelemek isterseniz, standartların burada bulunabilecek daha bir çok bölümü var:

[PEP8 Guide](https://www.python.org/dev/peps/pep-0008/)

> **HATIRLATMA:** Gelecekte kendinin ve ekip arkadaşlarının sana teşekkür etmeleri için kodlarını kolay okunabilir ve anlaşılabilir bir şekilde yazmayı unutmayın :)